/* styles.css */

/* body {
    background: #000000;
    background: -webkit-linear-gradient(to right, #434343, #000000);
    background: linear-gradient(to right, #434343, #000000);

} */


body {
    background: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.main-container {
    display: flex;
    /* margin-left: 100px;
    margin-right: 100px; */
    /* gap: 36rem; */
    justify-content: space-around;
}

.slider-container {
    /* display: flex;
    flex: content; */
    align-items: center;
}

.slider {
    width: 200px;
    -webkit-appearance: none;
    appearance: none;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    margin: 0 10px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    /* background: #007bff; */
    cursor: pointer;
}

#volume-slider-red::-webkit-slider-thumb {
    background: red;
}

#volume-slider-green::-webkit-slider-thumb {
    background: green;
}

#volume-slider-blue::-webkit-slider-thumb {
    background: #007bff;
}

#volume-value-red {
    font-size: 18px;
}

#volume-value-green {
    font-size: 18px;
}

#volume-value-blue {
    font-size: 18px;
}

#color-box {

    /* background-color: rgb(110, green, blue); */
    width: 200px;
    height: 200px;
    border: 2px solid rgb(0, 0, 0);
    /* padding: 50px;
  margin: 20px; */
}

#red {
    color: red;
}

#green {
    color: green;
}

#blue {
    color: blue
}